<div class="layout">
  <!-- Sidebar -->
  <div class="sidebar" [class.collapsed]="isCollapsed">
    <div class="logo">
      <i 
        class="fas" 
        [ngClass]="isCollapsed ? 'fa-clipboard' : 'fa-bars'" 
        *ngIf="isCollapsed">
      </i>
      <span *ngIf="!isCollapsed">My Task Manager</span>
    </div>
    <ul class="menu">
      <li class="submenu">
        <i class="fas fa-user" *ngIf="isCollapsed"></i> <!-- Icon when collapsed -->
        <ul>
          <li class="menu-item" *ngFor="let user of users">{{ user.name }}</li>
        </ul>
      </li>
      <li class="submenu">
        <i class="fas fa-users" *ngIf="isCollapsed"></i> <!-- Icon when collapsed -->
        <ul>
          <li class="menu-item" *ngFor="let team of teams">{{ team.name }}</li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- Main Layout -->
  <div class="main-layout">
    <header class="header">
      <button class="toggle-button" (click)="toggleSidebar()">
        <i class="fas" [ngClass]="isCollapsed ? 'fa-bars' : 'fa-times'"></i>
      </button>
    </header>

    <!-- Content -->
    <div class="content">
      <div class="task-column" *ngFor="let status of taskStatus">
        <h3>{{ status.status | titlecase }}</h3>
        <div *ngFor="let task of status.tasks" class="task-card">
          <p>{{ task.title }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
