<body *ngIf="employee">
    <div class="container">
      <!-- Left Sidebar -->
      <div>
        <div class="sidebar">
          <div class="card-body">
            <img src="../../../../public/blank-profile-picture-.jpg" class="rounded-circle" width="150" *ngIf="employee?.profilePicture">
            <div class="mt-3">
              <h3>{{ employee.firstname }}</h3>
              <p>Efficiency: 0.95</p>
              <a href="#">Assign a task</a>
            </div>
          </div>
        </div>
  
        <div class="about">
          <h1>About</h1>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <h5>Full name</h5>
              </div>
              <div class="col-md-9 text-secondary">
                {{ employee.firstname }} {{ employee.lastname }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>Email</h5>
              </div>
              <div class="col-md-9 text-secondary">
                {{ employee.email }}
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Right Side Content -->
      <div class="right-content">
        <div class="recent-tasks">
          <h1>Recent Tasks</h1>
          <div class="card-body">
            <div class="row" *ngFor="let task of tasks">
              <div class="col-md-3">
                <h5>{{ task.title }}</h5>
              </div>
              <div class="col-md-9 text-secondary">
                {{ task.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  