<div class="layout">
    <!-- Sidebar -->
    <div class="sidebar" [class.collapsed]="isCollapsed">
      <div class="logo">
        <i 
          class="fas" 
          [ngClass]="isCollapsed ? 'fa-clipboard' : 'fa-bars'" 
          *ngIf="isCollapsed">
        </i>
        <span *ngIf="!isCollapsed">My Task Manager</span>
      </div>
      <ul class="menu">
        <li class="submenu">
          <i class="fas fa-user" *ngIf="isCollapsed"></i>
          <ul>
            <!-- <li class="menu-item" >{{ user.firstname}}</li> -->
            <li class="menu-item" >John Doe</li>
          </ul>
        </li>
        <li class="submenu">
          <i class="fas fa-users" *ngIf="isCollapsed"></i>
          <ul>
            <li class="menu-item" >Admin</li>
          </ul>
        </li>
      </ul>
    </div>
  
    <!-- Main Layout -->
    <div class="main-layout">
      <header class="header">
        <button class="toggle-button" (click)="toggleSidebar()">
          <i class="fas" [ngClass]="isCollapsed ? 'fa-bars' : 'fa-times'"></i>
        </button>
        <!-- //Logout button -->
        <button class="logout-button" (click)="logout()" style="padding: 7px ; cursor: pointer; color: red;">
          <i class="fas fa-sign-out-alt"></i>
        </button> 
      </header>
      <!-- Dashboard -->
       <div class="content">
        <h1 class="dashboard-h1">Dashboard</h1>
        <h3 class="dashboard-h1">Employees</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Team</th>
                    <th>Efficiency</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>
                        <select>
                            <option>Full Stack Developer</option>
                            <option>Designer</option>
                            <option>DevOps Engineer</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>Team 1</option>
                            <option>Team 2</option>
                            <option>Team 3</option>
                        </select>
                    </td>
                    <td>0.82</td>
                    <td><button class="profile-btn" [routerLink]="['/employee-profile/:id']">Profile</button></td>
                </tr>
                <tr>
                    <td>Jane Smith</td>
                    <td>
                        <select>
                            <option>Designer</option>
                            <option>Full Stack Developer</option>
                            <option>DevOps Engineer</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>Team 2</option>
                            <option>Team 1</option>
                            <option>Team 3</option>
                        </select>
                    </td>
                    <td>0.91</td>
                    <td><button class="profile-btn" [routerLink]="['/employee-profile/:id']">Profile</button></td>
                </tr>
                <tr>
                    <td>Michael Brown</td>
                    <td>
                        <select>
                            <option>DevOps Engineer</option>
                            <option>Full Stack Developer</option>
                            <option>Designer</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>Team 3</option>
                            <option>Team 1</option>
                            <option>Team 2</option>
                        </select>
                    </td>
                    <td>0.75</td>
                    <td><button class="profile-btn" [routerLink]="['/employee-profile/:id']">Profile</button></td>
                </tr>
            </tbody>
        </table>
       </div>
    </div>
</div>
